
*{
    padding:0;
    margin:0;
}
.home-container{
    width: 100vw;
    min-height:100vh;
    background-color: pink;
    margin-bottom: 10px;
}

:root{
    --background-color: #D08E8D;
    --primary-color: #FFF;
    --secondary-color: #FFCFCF;
    --font-color: #FFF;
}
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}


#letter-container{
    font-family: cursive;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#letter-form{
    width: 90%;
    max-width: 600px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(164, 164, 164, 0.1);
}
#letter-form label{
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #444;
}

#letter-form h2{
    text-align: center;
    padding: 20px;
    font-weight: normal;
    font-family: cursive;
}

#letter-form input[type="text"],
#letter-form textarea{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical;
}
#letter-form textarea{
    height: 200px;
    resize: none;
    overflow-y: auto;
    overflow-x: none;
}

#letter-form button{
    width: 100%;
    font-family: cursive;
    padding: 10px 20px;
    background-color: #F8F3BA;
    color: black;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight:bold;
    transition: var(--background-color) 0.2s ease;
}

#letter-form button:hover{
    background-color: #DFE48A;
}

.back-link{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    text-decoration: none;
    background-color: white;
    padding: 8px 12px;
    border-radius: 8px;
    color: #444;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}
nav.navbar {
  padding: 10px 20px !important;
}
.flower-label {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.flower-img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
    border-radius: 10px;
}

.btn-check:checked + .flower-label {
    border-color: #F8F3BA;
    background-color: #fffef0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
